* {
      box-sizing: border-box;
    }

    body {
      margin: 0px;
      padding: 0px;
      font-family: ,Cursive;
    }


    nav {
      background-color: #000;
      font-family: cursive;
      text-align: center;
      width: auto;
    }

h1 {

    color : black;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    margin: 20px;
  }

.box {

  background-color: #FF7800;
  border : 4px solid black;
  padding: 0;
  width: auto;
  margin-top: 15px;
  
}

.row {

  margin:15px;
  margin-top: 20px;
}



.content-name {
  font-family: cursive;
  float: right;
  margin: 0px;
   font-weight: bold;
  border-left: 4px solid black ;
  border-bottom: 4px solid black ;
  font-size: 22px;
  width: 100px;
  height: 40px;
  text-align: center;
}

.content {
  color: white ;

  margin: 2.5% ;
    font-family: Cursive;
  clear: right;
  width: auto;
  text-align: center;
  height: auto;
}

#name1{

  background-color: #E063FF;
}

#name2{
  color: white ;
  background-color: #FD2D2D;
}

#name3{
  background-color: #F7FD2D;
}

@media (min-width: 0px) and (max-width: 767px) {

  .box{
    clear: left;
    width: auto;
    margin-right: 10px;
    margin-right: 10px;
  }
 
 h1{
   font-size: 50px;
 }


}
@media (min-width: 768px) and (max-width: 991px) {


  .box{
    width: 45%;
    margin-right: 10px;
    margin-left: : 10px;
  }

  .content-name {
    width: 150px;
    height: auto;
    font-size: 2em ;
  }

  .content {
    font-size: 1.5em;
  }
 h1{
   font-size: 100px;
 }


}


#logo {
  color : #FF7800;
  font-size: 40px;
  font-family: 'Monoton', cursive;
  margin-left: 60px;

  padding: 0;
  
}

.collapse a:hover {
  background-color: #FF7800;
} 
  
}
.collapse {
  margin-top: 3px;
}

.navbar-toggler {
  margin-right: 10px;
}

#back {
  font-size: 20px;
  font-family: cursive;
  color : black;
}




